<form [formGroup]="extractionForm" (ngSubmit)="onSubmit()">
    <mat-tab-group>
        <!-- Main Tab -->
        <mat-tab label="Main Configuration">
            <div class="tab-content">
                <div class="row">
                    <mat-form-field class="mr-sm-2">
                        <mat-label>Extraction Name</mat-label>
                        <input matInput formControlName="extractionName" required>
                    </mat-form-field>

                    <mat-form-field class="mr-sm-2">
                        <mat-label>Output Path</mat-label>
                        <input matInput formControlName="extractionPath" required>
                    </mat-form-field>

                    <mat-form-field class="mr-sm-2">
                        <mat-label>Extraction Type</mat-label>
                        <mat-select formControlName="extractionType">
                            <mat-option value="CSV">CSV</mat-option>
                            <mat-option value="XLS">XLS</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="mr-sm-2">
                        <mat-label>Send by Email?</mat-label>
                        <mat-select formControlName="extractionMail">
                            <mat-option value="Y">Yes</mat-option>
                            <mat-option value="N">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-tab>

        <!-- Mail Tab -->
        <mat-tab label="Email Settings" *ngIf="showEmailSettings">
            <div class="tab-content">
                <!-- ... (same email content as before) ... -->
            </div>
        </mat-tab>

        <!-- CSV/XLS Tab -->
        <mat-tab [label]="extractionType + ' Settings'">
            <div class="tab-content">
                <!-- CSV Content -->
                <div *ngIf="showCsvSection" class="row">
                    <!-- ... (same CSV content) ... -->
                </div>

                <!-- XLS Content -->
                <div *ngIf="showXlsSection">
                    <div formArrayName="sheets">
                        <div *ngFor="let sheet of xlsSheets.controls; let sheetIndex = index" [formGroupName]="sheetIndex">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        Sheet {{sheetIndex + 1}} - {{sheet.value.sheetName}}
                                    </mat-expansion-panel-header>

                                    <!-- Sheet Configuration -->
                                    <div class="row">
                                        <mat-form-field class="mr-sm-2">
                                            <mat-label>Sheet Name</mat-label>
                                            <input matInput formControlName="sheetName">
                                        </mat-form-field>

                                        <mat-form-field class="mr-sm-2">
                                            <mat-label>Order</mat-label>
                                            <input matInput type="number" formControlName="sheetOrder">
                                        </mat-form-field>

                                        <button mat-icon-button color="warn" (click)="xlsSheets.removeAt(sheetIndex)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>

                                    <!-- Headers Sub-Tab -->
                                    <mat-tab-group>
                                        <mat-tab label="Headers">
                                            <div formArrayName="headers">
                                                <!-- ... (headers content) ... -->
                                            </div>
                                            <button mat-stroked-button class="mr-sm-2" (click)="addXlsHeader(sheetIndex)">
                                                <mat-icon>add</mat-icon> Add Header
                                            </button>
                                        </mat-tab>

                                        <!-- Fields Sub-Tab -->
                                        <mat-tab label="Fields">
                                            <div formArrayName="fields">
                                                <!-- ... (fields content) ... -->
                                            </div>
                                            <button mat-stroked-button class="mr-sm-2" (click)="addXlsField(sheetIndex)">
                                                <mat-icon>add</mat-icon> Add Field
                                            </button>
                                        </mat-tab>
                                    </mat-tab-group>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <button mat-stroked-button class="mr-sm-2" (click)="addXlsSheet()">
                        <mat-icon>add</mat-icon> Add Sheet
                    </button>
                </div>
            </div>
        </mat-tab>

        <!-- SQL Tab -->
        <mat-tab label="SQL Configuration">
            <div class="tab-content">
                <mat-form-field class="mr-sm-2 full-width">
                    <mat-label>SQL Query</mat-label>
                    <textarea matInput formControlName="sqlQuery" rows="5"></textarea>
                </mat-form-field>

                <div formArrayName="sqlParameters">
                    <div *ngFor="let param of sqlParameters.controls; let i = index" [formGroupName]="i">
                        <div class="row">
                            <!-- ... (parameters content) ... -->
                        </div>
                    </div>
                </div>
                <button mat-stroked-button class="mr-sm-2" (click)="addSqlParameter()">
                    <mat-icon>add</mat-icon> Add Parameter
                </button>
            </div>
        </mat-tab>
    </mat-tab-group>

    <!-- Form Actions -->
    <div class="form-actions">
        <button mat-stroked-button class="mr-sm-2" color="primary" type="button" routerLink="/extraction/list">
            Cancel
        </button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!extractionForm.valid">
            <mat-icon>save</mat-icon> Save
        </button>
    </div>
</form>